<div id="catalog">
    <div class="storyListPanel">
        <h2 class="header">Choose a Story</h2>

        <div id="storyList">
            <div class="summary" ng-repeat="story in catalog" class="storyListItem">
                <div><span class="title"><a href="#/reader/{{story.key}}">{{story.title}}</a></span>
                    <span class="author">by {{story.author}}</span></div>
                <div class="tagline">{{story.tagLine}}</div>
                <div class="description">{{story.description}}</div>
            </div>
        </div>
        <div id="controls">
            <button ng-click="startNewStory()">Start A New Story</button>
            (<a href="editor-new.html">Go</a>)
        </div>
    </div>
</div>
