<div id="story">
    <div><span class="title">{{vm.currentStory.title}}</span> <span class="author">by {{vm.currentStory.author}}</span></div>
    <div id="chapter">
        <div id="heading">{{vm.currentChapter.heading}}</div>
        <div id="readerPanel">
            <div id="prose">
                {{vm.currentChapter.prose}}
            </div>
            <div id="choices">
                <div ng-repeat="option in vm.currentChapter.nextChapterOptions" class="nextChapterOption">
                    <a ng-click="vm.loadChapter(option.id)" href="#/reader/{{story.key}}/{{option.id}}">{{option.teaser}}</a></div>
            </div>
        </div>
    </div>
    <div><a href="reader.html">Return to beginning.</a></div>
</div>
<div><a href="catalog.html">Choose Another Story</a></div>
