body {
    font-family: Vandana, Helvetica, sans-serif;
    background-color: gold;
}

.frame {
    margin: 1em;
}

.section {
    margin: 0.5em;
    border-width: 1px;
    padding: 0.5em;
    background-color: #4B99AD;
}

.search-results-odd {
    background-color: paleturquoise;
}

.search-results-even {
    background-color: white;
}

#masthead {
    text-align: center;
}