body {
  margin: 0;
  font-family: Vandana, Helvetica, sans-serif;
}

.row, .col {
  overflow: hidden;
  position: absolute;
}

.row {
  left: 0;
  right: 0;
}

.col {
  top: 0;
  bottom: 0;
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

#header {
  top: 0;
}

#footer {
  bottom: 0;
}

#reader-titlebar h2 {
  margin: 0;
}

#reader-titlebar.row {
  height: 75px;
  top: 75px;
  margin: 0.5em;
}

#reader-main.row {
  top: 150px;
  bottom: 100px;
  margin: 0.5em 1.0em;
  border: groove green 4px;
  padding: 1.0em;
}

#reader-shortcuts.row {
  height: 50px;
  bottom: 50px;
  margin: 0 0.5em;
}

.summary {
  border: dotted black 2px;
  padding: 1em 1em 0 1em;
  background-color: white;
  margin-bottom: 0.5em;
}

.title {
  font-weight: bold;
  font-size: large;
}

.author {
  font-size: large;
}

.tagline {
  margin: 0.5em 3em;
  font-style: italic;
}

.description {
  border: dotted darkgray 1px;
  padding: 0.5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
  background-color: lavender;
}

.chapterTitle {
  margin: 0.5em 0;
  font-weight: bold;
  font-size: large;
}

.next {
  margin: 1em 1.5em 0 1.5em;
  border: dotted silver 1px;
  padding: 0.5em;
}

.instruction {
  background-color: powderblue;
  font-style: italic;
  padding: 0.5em;
}

.nextChapterOption {
  padding: 0.5em 0.5em 0 0.5em;
}

#nextChapters {
  margin: 1.5em 1.0em;
  border: dotted silver 1px;
  padding: 0.5em;
}

.hidden {
  display: none;
}

/** editor styles **/

.form-style-1 {
	margin:10px auto;
	max-width: 400px;
	padding: 20px 12px 10px 20px;
	font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-1 li {
	padding: 0;
	display: block;
	list-style: none;
	margin: 10px 0 0 0;
}
.form-style-1 label{
	margin:0 0 3px 0;
	padding:0;
	display:block;
	font-weight: bold;
}
.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border:1px solid #BEBEBE;
	padding: 7px;
	margin:0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
}
.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus{
	-moz-box-shadow: 0 0 8px #88D5E9;
	-webkit-box-shadow: 0 0 8px #88D5E9;
	box-shadow: 0 0 8px #88D5E9;
	border: 1px solid #88D5E9;
}
.form-style-1 .field-divided{
	width: 49%;
}

.form-style-1 .field-long{
	width: 100%;
}
.form-style-1 .field-select{
	width: 100%;
}
.form-style-1 .field-textarea{
	height: 100px;
}
.form-style-1 input[type=submit], .form-style-1 input[type=button]{
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style-1 input[type=submit]:hover, .form-style-1 input[type=button]:hover{
	background: #4691A4;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.form-style-1 .required{
	color:red;
}
