<div id="header" class="row">
  <div class="instruction">Choose a Story</div>
</div>
<div id="main" class="row scroll-y">
  <div class="summary" ng-repeat="story in catCtrl.catalog">
    <div><span class="title"><a href="#/reader/{{story.key}}">{{story.title}}</a></span>
      <span class="author">by {{story.author}}</span>  </div>
    <div class="tagline">{{story.tagLine}}</div>
    <div class="description">{{story.description}}</div>
      <a ng-href="#/editor/{{story.key}}">Edit</a>
  </div>
</div>
<div id="footer" class="row">
  <a href="#/editor/new">Start A New Story</a>
</div>
