.section {
  margin: 10px 10px;
  border: black ridge 4px;
  padding: 10px 10px;
}

.instruction {
  font-weight: bold;
  text-align: center;
}

.storySummary {}

.storyHeader {
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: large;
}

.author {}

.tagline {
  font-style: italic;
}

.sceneOption {}

#footer {
  margin: 2em;
  padding-top: 1em;
  border-top: navy dashed 2px;
  text-align: center;
}

