/* red earth */
$palette-redearth-color1: #796e24;
$palette-redearth-color2: #f9df8d;
$palette-redearth-color3: #ee9c21;
$palette-redearth-color4: #ea7d24;
$palette-redearth-color5: #a34e24;

/* romanian flag */
$palette-romanianflag-color1: #e8edf3;
$palette-romanianflag-color2: #e6cf8b;
$palette-romanianflag-color3: #b56969;
$palette-romanianflag-color4: #22264b;

/* baby blue gray */
$palette-babybluegray-color1: #c9c9c9;
$palette-babybluegray-color2: #e3e3e3;
$palette-babybluegray-color3: #9ad3de;
$palette-babybluegray-color4: #89bdd3;

/* gray yellow greeny */
$palette-grayyellowgreeny-color1: #dddfd4;
$palette-grayyellowgreeny-color2: #fae596;
$palette-grayyellowgreeny-color3: #3fb0ac;
$palette-grayyellowgreeny-color4: #173e43;

/* subdude */
$palette-subdude-color1: #c5d5cb;
$palette-subdude-color1: #9fa8a3;
$palette-subdude-color1: #e3e0cf;
$palette-subdude-color1: #ffffff;
