    <div id="header" class="row">
        <h2 class="header">Story Editor</h2>
    </div>

    <div id="main" class="row scroll-y">
        <!-- TODO create summary edit panel -->
        <div class="instruction">Review and Update</div>
        <form>
            <ul class="form-style-1">
                <li>
                    <label>Title:</label>
                    <input type="text" ng-model="editorCtrl.draft.title" class="field-long"/>
                </li>
                <li>
                    <label>Author:</label> <input type="text" ng-model="editorCtrl.draft.author" class="field-long"/>
                </li>
                <li>
                    <label>Tag Line:</label> <input type="text" ng-model="editorCtrl.draft.tagLine" class="field-long"/>
                </li>
                <li>
                    <label>Description:</label>
                    <textarea ng-model="editorCtrl.draft.description" class="field-long field-textarea"></textarea>
                </li>
                <li>
                    <button ng-click="editorCtrl.save()">Save Story</button>
                </li>
            </ul>
        </form>

        <!-- TODO create summary view panel -->
        <p>Form Summary: (as of latest save)<br/>
            ({{editorCtrl.draft.key}}) {{editorCtrl.draft.title}} by {{editorCtrl.draft.author}} <br/>
            Tag Line: {{editorCtrl.draft.tagLine}}<br/>
            Description: {{editorCtrl.draft.description}}
        </p>

        <!-- TODO create chapter edit panel -->
        <div ng-hide="storyCtrl.isNew">
            <h2 class="heading">Chapter #{{editorCtrl.draftChapter.id}}</h2>
            <form>
                <!-- chapter -->
                <ul>
                    <li>
                        <label>Opening Scene Teaser:</label>
                        <input type="text" ng-model="editorCtrl.draftChapter.teaser" class="field-long"/>
                    </li>
                    <li>
                        <label>Scene:</label>
                        <textarea ng-model="editorCtrl.draftChapter.prose" class="field-long field-textarea"></textarea>
                    </li>
                    <li>
                        <button ng-click="editorCtrl.saveDraftChapter()">Save Chapter</button>
                    </li>
                </ul>

                <!-- next chapter options -->
                <!-- TODO rename "teaser" to "signpost" -->
                <ul>
                    <li>
                        <label>Next Chapter Options</label>
                        <div ng-repeat="nextChapter in editorCtrl.draftChapter.nextChapterOptions">
                            <a href="#/editor/{{editorCtrl.draft.key}}/{{nextChapter.id}}">Chapter #{{nextChapter.id}}</a>
                            {{nextChapter.teaser}}
                            <button ng-click="editorCtrl.removeNextChapterOptionFromDraftChapter(nextChapter.id)">Remove</button><br/>
                        </div>
                    </li>
                    <li>
                        Create Another Option:
                        <input type="text" ng-model="editorCtrl.nextChapterOption.teaser" class="field-long"/>
                    </li>
                    <li>
                        <button ng-click="editorCtrl.addChapterOption()">Add Next Chapter</button>
                    </li>
                </ul>
            </form>
        </div>

    </div>
    <div id="footer" class="row">
        <a href="#/catalog">Catalog</a>
        <a href="index.html">Home</a>
    </div>
