    <div id="header" class="row">
        <h2 class="header">Story Information</h2>
    </div>
    <div id="main" class="row scroll-y">
        <div class="instruction">Review and Update</div>
        <form>
            <ul class="form-style-1">
                <li>
                    <label>Title:</label>
                    <input type="text" ng-model="editorCtrl.draft.title" class="field-long"/>
                </li>
                <li>
                    <label>Author:</label> <input type="text" ng-model="editorCtrl.draft.author" class="field-long"/>
                </li>
                <li>
                    <label>Tag Line:</label> <input type="text" ng-model="editorCtrl.draft.tagLine" class="field-long"/>
                </li>
                <li>
                    <label>Description:</label>
                    <textarea ng-model="editorCtrl.draft.description" class="field-long field-textarea"></textarea>
                </li>
                <li>
                    <button ng-click="editorCtrl.save()">Save Story</button>
                </li>
            </ul>
        </form>

        <p>Form Summary: (as of latest save)<br/>
            ({{editorCtrl.draft.key}}) {{editorCtrl.draft.title}} by {{editorCtrl.draft.author}} <br/>
            Tag Line: {{editorCtrl.draft.tagLine}}<br/>
            Description: {{editorCtrl.draft.description}}
        </p>

        <!-- TODO chapter editing
        <div ng-hide="storyCtrl.isEdit">
            <p><span class="storyTitle">{{storyCtrl.draft.title}}</span> by {{storyCtrl.draft.author}}</p>
            <p>"{{storyCtrl.draft.tagLine}}"</p>
            <div>
                <button ng-click="storyCtrl.edit(storyCtrl.draft.key)">Edit</button>
                <button ng-click="storyCtrl.clear()">Clear</button>
            </div>
            <div class="scenePanel">
                <h2 class="heading">Opening Scene</h2>
                <div>
                    <p>({{storyCtrl.draftScene.key}})
                        <label>Opening Scene Teaser: <input ng-model="storyCtrl.draftScene.teaser" type="text" size="80"
                                                            class="teaser"/></label></p>

                    <p><label>Scene:<br/><textarea ng-model="storyCtrl.draftScene.prose" cols="80" rows="4"></textarea></label>
                    </p>

                    <p>
                        <button ng-click="storyCtrl.updateScene()">Update</button>
                    </p>
                    <p><input ng-model="storyCtrl.nextSceneTeaser" type="text" class="teaser"/>
                        <button ng-click="storyCtrl.addSceneOption()">Add Next Scene</button>
                    </p>
                    <div ng-repeat="nextScene in storyCtrl.draftScene.nextSceneOptions">
                        <p>({{storyCtrl.nextScene.key}}) {{storyCtrl.nextScene.teaser}}
                            <button ng-click="storyCtrl.removeSceneOption(storyCtrl.nextScene.key)">Remove Scene
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        -->

    </div>
    <div id="footer" class="row">
        <a href="#/catalog">Catalog</a>
        <a href="index.html">Home</a>
    </div>
