.explanation {
  border: dotted slateblue 5px;
  margin: 0.5em;
  background-color: lightgoldenrodyellow;
}

.useCase {
  border: solid darkcyan 2px;
  margin: 1em 0;
  padding: 1em;
  background-color: lightgray;
}

.panel {
  border: solid black 2px;
  margin: 0.5em 1em;
  padding: 1em;
  background-color: white;
}

.storyTitle {
  font-weight: bold;
  font-size: large;
}

.sceneTitle {
  font-weight: bold;
  font-size: medium;
  margin: 1em 0;
}

.tagline {
  font-style: italic;
}