.catalog {
  margin-right: 20em;
}

.heading {
  margin: 0 0 0.5em 0;
  padding: 0;
}

.storyListPanel {
  border: groove silver 5px;
  padding: 1em;
  margin: 1em;
  background-color: aliceblue;
}

.scroller {
  border: dotted black 2px;
  height: 60%;
  overflow-y: auto;
  background-color: white;
}

.storyPanel {
  border: groove silver 5px;
  margin: 1em;
  padding: 1em;
  background-color: lightblue;
}

#storyList {
  padding-bottom: 1em;
}

.summary {
  padding: 1em 1em 0 1em;
}

.title {
  font-weight: bold;
  font-size: large;
}

.author {
  font-size: large;
}

.scenePanel {
  margin-top: 1em;
  padding: 1em;
  background-color: white;
}

.tagline {
  margin: 0.5em 3em;
  font-style: italic;
}

.description {
  border: dotted darkgray 1px;
  padding: 0.5em;
  margin-left: 1em;
  margin-bottom: 0.5em;
}

#controls {
  margin: 1em 2em;
}