.heading {
  margin: 0 0 0.5em 0;
  padding: 0;
}

.storyListPanel {
  border: groove silver 5px;
  padding: 1em;
  margin: 1em;
  background-color: aquamarine;
}

.scroller {
  border: dotted black 1px;
  height: 60%;
  overflow-y: auto;
  background-color: white;
}

.storyListItem {
  margin: 0.5em;
  border-bottom: dotted lightgray 1px;
}

.storyPanel {
  border: groove silver 5px;
  margin: 1em;
  padding: 1em;
  background-color: lightblue;
}

.storyTitle {
  font-style: italic;
  font-size: large;
}

.scenePanel {
  margin-top: 1em;
  padding: 1em;
  background-color: white;
}

.teaser {
  width: 50em;
}
